<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724524316630-uvnq4kdi4td82teahuhdh7htk0kc22hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724524316630-uvnq4kdi4td82teahuhdh7htk0kc22hc</string>
	<key>API_KEY</key>
	<string>AIzaSyDmeo--YfCs-nk99P1XMhU-SK5akcKYI7k</string>
	<key>GCM_SENDER_ID</key>
	<string>724524316630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectDatabase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-database-b3e2d</string>
	<key>STORAGE_BUCKET</key>
	<string>project-database-b3e2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724524316630:ios:37e89dbda41aa7c8dc5677</string>
</dict>
</plist>